# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
BowlingGame/.DS_Store

.DS_Store

BowlingGame/test-results/BowlingGame.csproj-Debug-2012-07-19.xml

BowlingGame/test-results/BowlingGame.csproj.test-cache

BowlingGame.userprefs

BowlingGame/test-results/BowlingGame.csproj-Debug-2012-07-22.xml

test-results/{216640DC-0F78-48C4-A907-AE26FE1B0581}-default-2012-07-22.xml
